body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
}

.header {
  border-radius: 0;
  padding: 0;
}

.header > .p-menubar-root-list {
  width: 100%;
}

.header .p-menuitem:last-child {
  margin-left: auto;
}

main {
  margin: 1rem;
}
